@mixin dinpro-reg($font-size, $line-height) {
    font-family: "DINPro";
    font-weight: normal;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin rob-med($font-size, $line-height) {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin rob-bold($font-size, $line-height) {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin rob-norm($font-size, $line-height) {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin ops-reg($font-size, $line-height) {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin ops-bold($font-size, $line-height) {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
}