.btn {
    @include rob-norm(17px, 20px);
    display: block;
    width: 215px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #d9efff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
}