@font-face {
	font-family: "Roboto";
	src: url("../fonts/fonts2/Roboto-Regular.eot");
	src: url("../fonts/fonts2/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/Roboto-Regular.woff") format("woff"),
		url("../fonts/fonts2/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/fonts2/Roboto-BlackItalic.eot");
	src: url("../fonts/fonts2/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/Roboto-BlackItalic.woff") format("woff"),
		url("../fonts/fonts2/Roboto-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/fonts2/Roboto-Italic.eot");
	src: url("../fonts/fonts2/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/Roboto-Italic.woff") format("woff"),
		url("../fonts/fonts2/Roboto-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/fonts2/Roboto-Black.eot");
	src: url("../fonts/fonts2/Roboto-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/Roboto-Black.woff") format("woff"),
		url("../fonts/fonts2/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "DINPro";
	src: url("../fonts/fonts2/DINPro-Medium.eot");
	src: url("../fonts/fonts2/DINPro-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/DINPro-Medium.woff") format("woff"),
		url("../fonts/fonts2/DINPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "DINPro";
	src: url("../fonts/fonts2/DINPro-Regular.eot");
	src: url("../fonts/fonts2/DINPro-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/DINPro-Regular.woff") format("woff"),
		url("../fonts/fonts2/DINPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DINPro";
	src: url("../fonts/fonts2/DINPro-Black.eot");
	src: url("../fonts/fonts2/DINPro-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/DINPro-Black.woff") format("woff"),
		url("../fonts/fonts2/DINPro-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "DINPro";
	src: url("../fonts/fonts2/DINPro-Light.eot");
	src: url("../fonts/fonts2/DINPro-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/DINPro-Light.woff") format("woff"),
		url("../fonts/fonts2/DINPro-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "DINPro";
	src: url("../fonts/fonts2/DINPro-Bold.eot");
	src: url("../fonts/fonts2/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/fonts2/DINPro-Bold.woff") format("woff"),
		url("../fonts/fonts2/DINPro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Lato-Regular.woff") format("woff"),
		url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}