body {
    font-family: "PT Sans";
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
//    max-width: 100%;
}

* {
    box-sizing: border-box;
}

#upbutton {
    background: url("/img/up3.png") no-repeat scroll;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
  }

.general-wrapper {
	max-width: 1161px;
    margin: 0 auto;
    text-align: center;
}