.advantages {
    
    &__title {
        @include rob-bold(38px, 60px);
        position: relative;
        margin-left: 40px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #444444;
        
        &::before {
            position: absolute;
            content: "";
            top: 30px;
            right: -8px;
            width: 260px;
            height: 3px;
            background: url("/img/line-blue-short.png") no-repeat center;
        }
    }
    
    &__list {
        @include ops-reg(17px, 28px);
        max-width: 670px;
        margin-left: 19px;
        padding-left: 90px;
        color: #2d2c2c;
    }
    
    &__item-1 {
        position: relative;
        margin-bottom: 42px;
        padding-left: 17px;
        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: -70px;
            width: 53px;
            height: 53px;
            background: url("/img/numb-1.png") no-repeat center;
        }
    }
    
    &__item-2 {
        position: relative;
        margin-bottom: 25px;
        padding-left: 17px;
        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: -70px;
            width: 53px;
            height: 53px;
            background: url("/img/numb-2.png") no-repeat center;
        }
    }
    
    &__item-3 {
        position: relative;
        margin-bottom: 40px;
        padding-left: 17px;
        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: -70px;
            width: 53px;
            height: 53px;
            background: url("/img/numb-3.png") no-repeat center;
        }
    }
    
    &__sub-list {
        max-width: 685px;
        margin-top: 26px;
        padding-left: 55px;
    }
    
    &__sub-item {
        position: relative;
        width: 685px;
//        margin-bottom: 12px;
        
        &:first-child {
            margin-bottom: 6px;
        }
        
        &:last-child {
            margin-bottom: 10px;
        }
        
        &::before {
            position: absolute;
            content: "";
            top: 11px;
            left: -30px;
            width: 21px;
            height: 7px;
            background: url("/img/arr-for-menu-white.png") no-repeat 0 0;
        }
        
        
            
    }
    
    &__item-4 {
        position: relative;
        margin-bottom: 44px;
        padding-left: 16px;
        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: -70px;
            width: 53px;
            height: 53px;
            background: url("/img/numb-4.png") no-repeat center;
        }
    }
}