.breadcrumbs {
    margin: 21px 0 56px;
    text-align: left;
    
    &__item {
        display: inline-block;
        margin-right: 10px;
    }
    
    &__link {
        @include rob-med(14px, 23px);
        color: #adadad;
        &:hover {
            text-decoration: underline;
        } 
    }
    
}