.cost {
    margin-bottom: 70px;
    margin-left: 42px;
    
    @media #{$tablet} {
        margin-left: 0;
        margin-bottom: 15px;    
        }
    
    &__title {
        @include ops-bold(18px, 21px);
        margin-bottom: 20px;
        padding-left: 40px;
        color: #252424;
        text-transform: uppercase;
        &--mt {
            margin-top: 65px;
        }
    }
    
    &__items {
        display: inline-block;
        width: 49%;
        margin-left: -5px;
        font-size: 0;
        
        @media #{$tablet} {
            display: block;
            width: auto;
            margin-bottom: 5px;
        }
        
        &--width {
            width: 33%;
            
            @media #{$tablet} {
            width: auto;
        }
        }
        
        
    }
    
    &__name {
        @include rob-med(14px, 28px);
        height: 45px;
        line-height: 45px;
        border: 1px solid #000;
        border-bottom: 0;
        color: #427386;
        background: #f6f4f2;
        text-align: center;
            &--color {
                background: #d6e5ec;
        }
    }
    
    &__descr {
        @include rob-bold(18px, 60px);
        height: 90px;
        line-height: 90px;
        text-transform: uppercase;
        border: 1px solid #000;
        text-align: center;
        color: #427386;
        background: #f6f4f2;
            &--color {
                background: #d6e5ec;
                @include rob-bold(30px, 82px);
    }
}
}