.docs {
    position: relative;
    max-width: 800px;
    height: 410px;
    background: url("/img/figure-border-1-fill.png") no-repeat center;
    background-size: contain;
    
    &__title {
        @include rob-norm(28px, 21px);
        padding-top: 70px;
        padding-bottom: 55px;
        color: #8a8178;
        text-align: center;
        
    }
    
    &__list {
        @include rob-norm(16px, 34px);
        color: #3a6b7e;
        padding-left: 70px;
    }
    
    &__item {
        &::before {
            content: "—";
            
        }
        
    }
}