.docs {
    position: relative;
    max-width: 800px;
    margin-left: 30px;
    height: 410px;
    margin-bottom: 75px;
    background: url("/img/figure-border-1-fill.png") no-repeat center;
    background-size: contain;
    
    @media #{$tablet} {
        height: 250px;
        background: none;
        margin-left: 0;
        margin-bottom: 15px;
        }
    
    &__title {
        @include rob-norm(28px, 21px);
        padding-top: 84px;
        padding-left: 30px;
        padding-bottom: 49px;
        color: #8a8178;
        text-align: center;
        
        @media #{$tablet} {
            padding-top: 30px;
            padding-bottom: 40px;
            padding-left: 0;
            font-size: 22px;
        }
        
    }
    
    &__list {
        @include rob-norm(16px, 34px);
        color: #3a6b7e;
        padding-left: 96px;
        
        @media #{$tablet} {
            padding-left: 45px;
        }
    }
    
    &__item {
        &::before {
            content: "—";
            
        }
        
    }
}