.header {
    background: url("/img/header-bg.jpg");
    min-height: 211px;
    
    &__top {
        border-bottom: 1px solid #fff;
        min-height: 133px;
        line-height: 133px;
        
        @media #{$desktop} {
            padding: 15px;
            text-align: center;
            line-height: 0;
        }
    }
    
    &__bottom {
        position: relative;
        min-height: 80px;
        line-height: 80px;
        
        @media #{$desktop} {
            padding: 15px;
            text-align: center;
            line-height: 0;
        }
    }
    
    &__top-wrapper {
        max-width: 1162px;
        margin: 0 auto;
    }
    
    &__bottom-wrapper {
        max-width: 1162px;
        margin: 0 auto;
    }
    
    &__logo {
        display: inline-block;
        margin-right: 3%;
        line-height: normal;
        vertical-align: middle;
        
        @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
            }
    }
    
    &__tel {
        display: inline-block;
        margin-top: 12px;
        margin-right: 5.65%;
        text-align: right;
        line-height: normal;
        vertical-align: middle;
        
    }
    
    &__tel-item {
        
        &--bfz {
            @include rob-bold(50px, 32px);
            margin-bottom: 5px;
            color: #fff;
            letter-spacing: 1px;
            & a {
                color: #fff;
            }
            
            
            @media #{$tablet} {
                margin-bottom: 0;
                font-size: 28px;
            }
        }
        
        &--color {
            @include rob-med(50px, 32px);
            color: #d9efff;
            
            @media #{$tablet} {
                font-size: 30px;
            }
        }
    }
    
    &__tel-link {
            @include rob-med(14px, 26px);
            border-bottom: 1px dashed #fff;
            color: #fff;
        &:hover {
            opacity: .75;
        }
        }
    
    &__office {
        margin-top: -11px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        
        @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        
        &-link {
            @include rob-med(13px, 25px);
            position: relative;
            border-bottom: 1px dashed #fff;
            color: #fff;
            
            &:hover {
                opacity: .75;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: -16px;
                width: 11px;
                height: 15px;
                background: url("/img/header-office2.png") no-repeat center;
            }
        }
    }
    
    &__item {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        
        &:hover {
            opacity: .75;
        }
        
        &--mr-1 {
            margin-right: 8%;
            
            @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
        }
        }
        
        &--mr-2 {
            margin-right: 7%;
            
            @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        
        &--mr-3 {
            margin-right: 6%;
            
            @media #{$tablet} {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        
        &--mr-4 {
            margin-right: 6%;
        }
    }
    
    &__join {
        width: 215px;
        padding-top: 12px;
        letter-spacing: 1px;
    }
}