.nav-left {
    position: relative;
    max-width: 351px;
    margin-left: 8px;
    margin-bottom: 55px;
    border: 2px solid #d8d8d8;
    background: #fff;
    
    @media #{$tablet} {
        margin-left: 0;
        }
    
    &::before {
        position: absolute;
        content: "";
        top: -10px;
        left: -12px;
        width: 61px;
        height: 49px;
        background: url("/img/left-column/left-top-top.png") no-repeat 50% 50%;
        z-index: 1;
        
        @media #{$tablet} {
            left: 0;
            background: none;
        }
    }
    
    &::after {
        position: absolute;
        content: "";
        top: -10px;
        right: -12px;
        width: 61px;
        height: 49px;
        background: url("/img/left-column/right-top-top.png") no-repeat 50% 50%;
        z-index: 1;
        
        @media #{$tablet} {
            right: 0;
            background: none;
        }
    }
    
    &__wrapper {
        position: relative;
        max-width: 332px;
        margin: 4px auto;
        border: 2px solid #d8d8d8;
        
        &::before {
            position: absolute;
            content: "";
            bottom: -15px;
            left: -17px;
            width: 61px;
            height: 49px;
            background: url("/img/left-column/left-bottom-top.png") no-repeat 50% 50%;
            
            @media #{$tablet} {
            left: 0;
            background: none;
        }
        }
        
        &::after {
            position: absolute;
            content: "";
            bottom: -15px;
            right: -17px;
            width: 61px;
            height: 49px;
            background: url("/img/left-column/right-bottom-top.png") no-repeat 50% 50%;
            
            @media #{$tablet} {
            right: 0;
            background: none;
        }
        }
    }
    
    &__top {
        background: #f2f1ef; // цвет закрытого меню
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
//        border-top: 1px solid #d8d8d8;
//        border-bottom: 1px solid #d8d8d8;
    }
    
    & a + ul {
        display: none;
    }
    
//    & a.active + ul {
//        display: block;
//    }
    
    &__medium {
//        background: #ebe9e6;
        margin-left: 20px;
//        & > li {
//            list-style: square;
//        }
    }
    
    &__click {
//        padding-top: 30px;
//        padding-left: 30px;
        & > a {
            @include rob-bold(20px, 26px);
            text-transform: uppercase;
            color: #444444;
        }
    }
    
    &__item {
        position: relative;
        list-style: square;
        
        &--active {
            list-style: none;
            
            &::before {
                position: absolute;
                content: "";
                top: 11px;
                left: -17px;
                width: 8px;
                height: 8px;
                background: url("/img/circle-color.png") no-repeat 50% 50%;
            }
            
//            list-style: square;
        }
        
        & > a {
            @include ops-reg(14px, 32px);
            color: #3d3d3d;
        }
        
        
    }
    
    &__sub-item {
        position: relative;
        & > a {
            @include ops-reg(14px, 16px);
            position: relative;
            color: #3d3d3d;
            padding-left: 30px;
        }
        
        &--current {
            &::before {
                position: absolute;
                content: "";
                top: 6px;
                left: 0;
                width: 15px;
                height: 7px;
                background: url("/img/arr-for-menu.png") no-repeat 50% 50%;
            }
            
        }
    }
}

.sub-true.active:not(:last-child) {
    display: block;
    width: 250px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    
    &:hover {
        text-decoration: underline;
    }
	
}

//.active {
//	background: #f2f1ef;
//}

a.active {
//    text-decoration: underline;
}
