.news {
    max-width: 337px;
//    margin: 0 auto;
    margin-left: 10px;
    border-top: 1px solid #f6f4f2;
    border-bottom: 1px solid #f6f4f2;
    background: #f6f4f2;
    
    &__wrapper {
        width: 298px;
        margin: 20px auto;
        border: 2px solid #e3e6e6;
    }
    
    &__name {
        @include ops-bold(14px, 21px);
        position: relative;
        margin-top: 20px;
        margin-left: 32px;
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 4px;
        
        &::before {
            position: absolute;
            content: "";
            top: 5px;
            left: -33px;
            width: 10px;
            height: 10px;
            background: url("/img/left-column/ribbon.png") no-repeat center; 
        }
    }
    
    &__list {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
        
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;    
        }
    }
    
    &__link {
        font-size: 14px;
        line-height: 22px;
        font-family: "Lato";
        font-weight: bold;
        font-style: normal;
        color: #333333;
    }
    
    &__date {
        padding-left: 17px;
        margin-bottom: 20px;
        font-size: 10px;
        line-height: 32px;
        font-family: "Lato";
        font-weight: bold;
        font-style: normal;
        color: #aaaaaa;
        background: url("/img/left-column/calendar-icon.png") no-repeat 0px 12px;
    }
    
}