.page-title {
	@include rob-bold(50px, 60px);
    position: relative;
    padding-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444444;
    
    @media #{$tablet} {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
            }
    
    &::before {
        position: absolute;
        content: "";
        top: 8px;
        right: 405px;
        width: 57px;
        height: 51px;
        background: url("/img/page-icon-1.png") no-repeat 50% 50%;
        
        @media #{$tablet} {
            background: none;
        }
    }
    
    &::after {
        position: absolute;
        content: "";
        top: 28px;
        right: -3px;
        width: 404px;
        height: 3px;
        background: url("/img/line-blue.png") no-repeat 50% 50%;
        
        @media #{$tablet} {
            background: none;
        }
    }
}