.planshet-icon {
    @include ops-bold(18px, 21px);
    position: relative;
    padding-left: 120px;
    margin-bottom: 80px;
    color: #252424;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    @media #{$tablet} {
            padding-left: 70px;
            font-size: 12px;
            text-align: center;
        }
    
    &::before {
        position: absolute;
        content: "";
        top: -12px;
        left: 37px;
        width: 39px;
        height: 46px;
        background: url("/img/planshet.png") no-repeat center;
        
        @media #{$tablet} {
            top: -4px;
        }
    }
}