.right-column {
	display: inline-block;
    max-width: 771px;
    margin-left: 30px;
    text-align: left;
    
    @media #{$tablet} {
        max-width: 382px;
    }
    
    @media #{$tablet} {
            margin-left: 10px;
            margin-right: 0;
        }
    
    @media #{$mobile2} {
            margin-left: 0;
        }
    
    vertical-align: top;
    
    &__title {
        @include rob-med(23px, 17px);
        margin-top: 11px;
        padding-left: 34px;
        margin-bottom: 30px;
        color: #8a8178;
        
        @media #{$tablet} {
            padding-left: 0;
            line-height: 24px;
            text-align: center;
        }
    }
}