select {
    @include dinpro-reg(23px, 78px);
    position: relative;
    width: 150px;
    height: 30px;
    border: 0;
    text-decoration: underline;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background: transparent;
    z-index: 100;
}

.select {
    position: relative;
	display: inline-block;
    width: 230px;
    height: 90px;
    margin-right: 5%;
    line-height: normal;
    vertical-align: middle;
//    margin-top: 20px;
    
    &::before {
        position: absolute;
        content: "";
        width: 227px;
        height: 86px;
        top: -4px;
        left: 0;
        background: url("/img/header-moscow.png") no-repeat 20% 50%;
    }
    
    &::after {
        position: absolute;
        content: "";
        width: 19px;
        height: 28px;
        top: 34px;
        left: 27px;
        background: url("/img/icon-top-place-1.png") no-repeat 20% 50%;
    }
    
    &__body {
        position: relative;
        width: 135px;
        margin-top: 4px;
        margin-left: 50px;
        
    }
    
    &__title {
        @include rob-med(13px, 26px);
        color: #fff;
    }
    
    &__list {
        display: none;
        margin-top: 50px;
        top: 0;
        left: 0;
        
        position: absolute;
        z-index: 400;
        

    }
    
    &__item {
        @include dinpro-reg(23px, 28px);
        z-index: 100;
    }
    
    &__toogle {
        @include dinpro-reg(23px, 28px);
        position: relative;
        margin-left: 61px;
        border: 0;
        color: #fff;
        background: transparent;
        text-transform: uppercase;
        
        
        &::before {
            position: absolute;
            content: "";
            background: url("/img/select-button.png") no-repeat 50% 50%;
            top: 10px;
            right: -20px;
            width: 15px;
            height: 13px;
            z-index: 50;
        }
    }
    
    &__upper {
        @include dinpro-reg(23px, 28px);
        position: relative;
        text-transform: uppercase;
        color: #fff;
    }
}
