.service-descr {
    margin-left: 27px;
    
    &__text {
        @include ops-reg(15px, 24px);
        margin-bottom: 15px;
        color: #2d2c2c;
        
        &:first-child {
            margin-bottom: 45px;
        }
        
        &:last-child {
            margin-bottom: 70px;
        }
    }
}