.service-descr {
    margin-left: 38px;
    
    &__text {
        @include ops-reg(15px, 24px);
        width: 670px;
        margin-bottom: 10px;
        color: #2d2c2c;
        
        &:first-child {
            width: 639px;
            margin-bottom: 31px;
        }
        
        &:last-child {
            margin-bottom: 62px;
        }
    }
}