.service-descr {
    @include ops-reg(15px, 24px);
    max-width: 670px;
    margin-left: 38px;
    color: #2d2c2c;
        
        & p:first-child {
            max-width: 639px;
            margin-bottom: 31px;
        }
        
        & p:last-child {
            margin-top: 10px;
            margin-bottom: 62px;
        }
    }