.top-nav {
	background: url("/img/header-bg-2.jpg") no-repeat 50% 50%;
    min-height: 95px;
    line-height: 95px;
    
    @media #{$desktop} {
        text-align: center;
        line-height: 0;
        background-size: cover;
    }
    
    &__list {
        max-width: 1162px;
        margin: 0 auto;
        font-size: 0;
    }
    
    &__item {
        @include dinpro-reg(12px, 20px);
        display: inline-block;
        position: relative;
        height: 34px;
        padding-top: 10px;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, #f8f8f8, #d6d6d6);
        
//        &:hover {
//            background-image: linear-gradient(to bottom, #d6d6d6, #f8f8f8);
//        }
        
        @media #{$desktop} {
//            display: border-left: ;
        }
        
        
        & a {
            color: #a5a6a6;
        }
        
        &::after {
                position: absolute;
                content: "";
                top: 0;
                right: -15px;
                width: 25px;
                height: 35px;
                background: url("/img/navs/arr2.png") no-repeat 50% 50%;
                z-index: 1;
            @media #{$desktop} {
                background: none;
            }
            
            }
        
        &--decor-1 {
            position: relative;
            width: 19%;
            text-align: center;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: -1px;
                left: -4px;
                width: 20px;
                height: 35px;
                background: url("/img/navs/back3.png") no-repeat 50% 50%;
                
                @media #{$desktop} {
                    background: none;
                }
            }
        }
        
        &--decor-2 {
            position: relative;
//            width: 220px;
            width: 19%;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
        }
        
        &--decor-3 {
            position: relative;
//            width: 220px;
            width: 19%;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
        }
        
        &--decor-4 {
            position: relative;
            width: 160px;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
        }
        
        &--decor-5 {
            position: relative;
//            width: 160px;
            width: 14%;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
        }
        
        &--decor-6 {
//            width: 160px;
            width: 14%;
            position: relative;
            
            @media #{$desktop} {
                width: 250px;
                margin: 5px;
            }
        }
        
        &--active {
            position: relative;
            background-image: linear-gradient(to bottom, #00d9ff, #00affb);
            
            & a {
                color: #fff;
            }
            
            &::after {
                position: absolute;
                content: "";
                top: -1px;
                right: -19px;
                width: 20px;
                height: 35px;
                background: url("/img/navs/color-arr3.png") no-repeat 50% 50%;
                z-index: 1;
                
                @media #{$desktop} {
                    background: none;
                }
            }
        }
    }
}

    

//.slicknav_menu {
//    display: none;
//    
//    @media #{$desktop} {
//        display: block;
//    }
//}
